<!DOCTYPE html>
<html>
  <head>
    <title>Carlos Ferreira - Web Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/bc28673486.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Carlos Ferreira", root_path, class: "name" %>
      <nav>
        <%= link_to 'Articles', posts_path %>
        <a href="#">Projects</a>
        <a href="#">Contacts</a>
      </nav>
    </header>

    <%= yield %>
   
    <footer id="main_footer">
      <p class="copyright">&copy; 2017 Carlos Ferreira</p>
      <nav>
        <a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="http://dribbble.com" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
        <a href="http://github.com/carlosprovisorio" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      </nav>
    </footer>
  </body>
</html>
